.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.mdc-text-field__input {
    color: black;
}

// .ng-tns-c60-5 {
//     color: black;
// }

// .ng-tns-c60-10, .ng-tns-c60-6 {
//     color: black;
// }

.field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}

.heading2 {
    color: black; 
    margin-bottom: 10px; 
    font-weight: 500; 
    font-size: large; 
    margin-left: 5px;
}

// input[readonly] {
//   color: black;
//   border: 2px solid #000000;
// }