<div>
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        <form class="example-form" [formGroup]="predmetForm">

            <mat-form-field class="example-full-width" appearance="outline" style="margin-top: 5px;">
                <mat-label>Studijski program</mat-label>
                <input formControlName="studijskiProgramId" matInput readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-top: 10px;">
                <mat-label>Predmet</mat-label>
                <input type="text" placeholder="Izaberite predmet..." matInput formControlName="predmetId"
                    [matAutocomplete]="auto1">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" matAutocompleteSingleOption
                    (optionSelected)='getGodina($event.option.value)'>
                    <mat-option *ngFor="let option of filteredPredmetOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="show" class="example-full-width" appearance="outline">
                <mat-label>Godina</mat-label>
                <input formControlName="godina" matInput type="number" readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-top: 10px;">
                <mat-label>Glavni profesor</mat-label>
                <input type="text" placeholder="Izaberite profesora..." matInput formControlName="profesorId"
                    [matAutocomplete]="auto2" (focus)="populateOptions()">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let option of filteredProfesorOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div *ngIf="ostaliProfesoriFieldsAsFormArray.length" class="heading2"> Ostali
                profesori: </div>

            <div *ngFor="let control of ostaliProfesoriFieldsAsFormArray.controls; let i = index;"
                formArrayName="ostaliProfesori" class="field-container">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Profesor</mat-label>
                    <input type="text" placeholder="Izaberite profesora..." matInput [formControlName]="i"
                        [matAutocomplete]="auto3" (input)="_filterOstaliProfesoriOptions($event, i)">
                    <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
                        <mat-option *ngFor="let option of options[i]"
                            [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="ostaliProfesoriFieldsAsFormArray.at(i).hasError('invalidOption')">
                        Morate izabrati profesora
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button type="button" (click)="remove(i)"
                    style="margin-left: 3%; margin-bottom: 3%;">Ukloni</button>
            </div>

            <div *ngIf="asistentZauzecaFieldsAsFormArray.length" class="heading2"> Asistenti:
            </div>

            <div *ngFor="let control of asistentZauzecaFieldsAsFormArray.controls; let i = index;"
                formArrayName="asistentZauzeca">
                <div [formGroupName]='i' class="field-container">
                    <mat-form-field appearance="fill" style="width: 80%;">
                        <mat-label>Asistent</mat-label>
                        <input type="text" placeholder="Izaberite asistenta..." matInput formControlName="asistentId"
                            [matAutocomplete]="auto4" (input)="_filterAsistentiOptions($event, i)">
                        <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
                            <mat-option *ngFor="let option of optionsAsistenti[i]" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="asistentZauzecaFieldsAsFormArray.at(i).get('asistentId').hasError('invalidOption')">
                            Morate izabrati asistenta
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field style="padding-left: 3%; width: 35%;">
                        <mat-label>Broj termina</mat-label>
                        <input formControlName="brojTermina" matInput type="number">
                        <mat-error *ngIf="asistentZauzecaFieldsAsFormArray.at(i).get('brojTermina').hasError('min')"
                        style="margin-left: -10%;">
                            Broj termina mora biti veći od 0
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="button" (click)="removeAsistent(i)"
                        style="margin-left: 3%; margin-bottom: 3%;">Ukloni</button>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button (click)="addControl()">
            <mat-icon>add</mat-icon> profesora
        </button>
        <button mat-raised-button (click)="addAsistent()">
            <mat-icon>add</mat-icon> asistenta
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>Zatvori</button>
        <button mat-raised-button color="primary" (click)="data.studijskiProgramId ? add() : update()" [disabled]="!predmetForm.valid">{{actionBtn}}</button>
    </div>
</div>