<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-select value="Zimski 2022/23" class="font-bold">
        <mat-option value="Zimski 2022/23">Zimski 2022/23</mat-option>
        <mat-option value="Letnji 2022/23">Letnji 2022/23</mat-option>
      </mat-select>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="predmeti" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Predmeti</span></a>
      <a mat-list-item routerLink="predavaci" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Predavači</span></a>
      <a mat-list-item routerLink="prostorije" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Prostorije</span></a>
      <a mat-list-item routerLink="studijski-programi" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Studijski programi</span></a>
      <a mat-list-item routerLink="studentske-grupe" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Studentske grupe</span></a>
      <a mat-list-item routerLink="realizacija" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><span class="contact-names">Realizacija</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <b>FTN raspored</b>
      </span>
    </mat-toolbar>-->

    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>