@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// a:hover {   
//   background-color: mat.get-color-from-palette($my-palette, 300);
// }

// .active .contact-names:hover {
//   color: white !important;
// }

.active {
  background-color: mat.get-color-from-palette($my-palette);
}

.active .contact-names {
  color: white;
  font-weight: 500;
}

.font-bold {
  font-weight: 500;
}

