<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="router.url != '/'" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-select [(value)]="database" [class]="!database ? 'disabled' : 'font-bold'" (selectionChange)="changeDatabase()">
        <mat-option *ngFor="let option of options"
          [disabled]="option.status == 'STARTED' || option.status == 'OPTIMIZING'"
          [value]="option.godina + option.semestar.substring(0, 1)">{{option.semestar}} {{option.godina}}</mat-option>
      </mat-select>
    </mat-toolbar>
    <mat-nav-list #navList>
      <button mat-list-item class="button" [disabled]="!database" routerLink="predmeti" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" [class.active]="router.url == '/predmeti'">
        <span class="contact-names">Predmeti</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="predavaci" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Predavači</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="prostorije" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Prostorije</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="studijski-programi" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Studijski programi</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="studentske-grupe" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Studentske grupe</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="realizacija" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Realizacija</span>
      </button>
      <button mat-list-item class="button" routerLink="novi-semestar" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Novi semestar</span>
      </button>
      <button mat-list-item class="button" [disabled]="!database" routerLink="generisanje-rasporeda" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="contact-names">Generisanje rasporeda</span>
      </button>
    </mat-nav-list>
    <button class="logout-btn" mat-raised-button color="primary" (click)="logout()">
      Odjavi se
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>