<div>
  <div class="header">
    <mat-form-field class="oznaka">
      <mat-label>Pretražite po oznaci</mat-label>
      <input matInput [(ngModel)]="oznaka"
        (keyup)="oznaka || naziv || stepenStudija != 'SVE' ? applyFilter() : getAll()">
    </mat-form-field>
    <mat-form-field class="naziv">
      <mat-label>Pretražite po nazivu</mat-label>
      <input matInput [(ngModel)]="naziv"
        (keyup)="oznaka || naziv || stepenStudija != 'SVE' ? applyFilter() : getAll()">
    </mat-form-field>
    <mat-form-field class="stepen">
      <mat-label>Stepen studija</mat-label>
      <mat-select [(value)]="stepenStudija" value="SVE" class="font-bold"
        (selectionChange)="oznaka || naziv || stepenStudija != 'SVE' ? applyFilter() : getAll()">
        <mat-option value="SVE">SVI STEPENI STUDIJA</mat-option>
        <mat-option value="OSNOVNE AKADEMSKE STUDIJE">OSNOVNE AKADEMSKE STUDIJE</mat-option>
        <mat-option value="OSNOVNE STRUKOVNE STUDIJE">OSNOVNE STRUKOVNE STUDIJE</mat-option>
        <mat-option value="MASTER AKADEMSKE STUDIJE">MASTER AKADEMSKE STUDIJE</mat-option>
        <mat-option value="MASTER STRUKOVNE STUDIJE">MASTER STRUKOVNE STUDIJE</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="oznaka">
          <th mat-header-cell *matHeaderCellDef> Oznaka </th>
          <td mat-cell *matCellDef="let element"> {{element.oznaka}} </td>
        </ng-container>

        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> Naziv </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>

        <ng-container matColumnDef="stepenStudija">
          <th mat-header-cell *matHeaderCellDef> Stepen studija </th>
          <td mat-cell *matCellDef="let element"> {{element.stepenStudija}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button (click)="openDialog();" mat-raised-button color="primary" style="float: right; width: 100px;">
              <mat-icon>add</mat-icon>
              Novi
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openConfirmationDialog(element)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="footer">
      <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>