<div>
  <div class="header">
    <mat-form-field class="oznaka">
      <mat-label>Pretražite po oznaci</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <mat-form-field class="naziv">
      <mat-label>Pretražite po nazivu</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <mat-form-field class="stepen">
      <mat-select value="SVE" class="font-bold">
        <mat-option value="SVE">SVE</mat-option>
        <mat-option value="OSNOVNE AKADEMSKE">OSNOVNE AKADEMSKE STUDIJE</mat-option>
        <mat-option value="OSNOVNE STRUKOVNE">OSNOVNE STRUKOVNE STUDIJE</mat-option>
        <mat-option value="MASTER AKADEMSKE">MASTER AKADEMSKE STUDIJE</mat-option>
        <mat-option value="MASTER STRUKOVNE">MASTER STRUKOVNE STUDIJE</mat-option>
    </mat-select>
    </mat-form-field>
    <button class="search-button" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      Traži
    </button>
  </div>

  <div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="oznaka">
          <th mat-header-cell *matHeaderCellDef> Oznaka </th>
          <td mat-cell *matCellDef="let element"> {{element.oznaka}} </td>
        </ng-container>

        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> Naziv </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="tip">
          <th mat-header-cell *matHeaderCellDef> Tip </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv.split(" (")[1].split("STUDIJE")[0]}} </td>
        </ng-container> -->

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button (click)="openDialog();" mat-raised-button color="primary" style="float: right; width: 100px;">
              <mat-icon>add</mat-icon>
              Novi
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="footer">
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>