@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

.td .th {
    width: 25%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    //border-color: currentColor;
    // background-color: mat.get-color-from-palette($my-palette, 200);
    background-color: lightgray;
    // color: white;
    font-weight: 400;
}

// .demo-row-is-clicked {
//     font-weight: bold;
// }

.header {
    width: 100%;
}

.table-container {
    position: relative;
    max-height: calc(100vh - 110px);
    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

td {
    border-bottom: 0.5px solid lightgrey !important;
    // border-right: 0.5px solid lightgrey !important;
}
