<div>
  <div class="header">
    <mat-form-field class="oznaka">
      <mat-label>Pretražite po oznaci</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Unesite oznaku...">
    </mat-form-field>
    <mat-form-field class="naziv">
      <mat-label>Pretražite po nazivu</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Unesite naziv...">
    </mat-form-field>
    <mat-form-field class="stud-prog">
      <mat-label>Pretražite po studijskom programu</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Unesite naziv studijskog programa...">
    </mat-form-field>
    <button class="search-button" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      Traži
    </button>
  </div>

  <div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="oznaka">
          <th mat-header-cell *matHeaderCellDef> Oznaka </th>
          <td mat-cell *matCellDef="let element"> {{element.oznaka}} </td>
        </ng-container>

        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef> Plan </th>
          <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
        </ng-container>

        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> Naziv </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>

        <ng-container matColumnDef="godina">
          <th mat-header-cell *matHeaderCellDef> Godina </th>
          <td mat-cell *matCellDef="let element"> {{element.godina}} </td>
        </ng-container>

        <ng-container matColumnDef="studijskiProgram">
          <th mat-header-cell *matHeaderCellDef> Studijski program </th>
          <td mat-cell *matCellDef="let element"> {{element.studijskiProgram}} </td>
        </ng-container>

        <ng-container matColumnDef="brojCasovaPred">
          <th mat-header-cell *matHeaderCellDef> Br. časova predavanja </th>
          <td mat-cell *matCellDef="let element"> {{element.brojCasovaPred}} </td>
        </ng-container>

        <ng-container matColumnDef="brojCasovaAud">
          <th mat-header-cell *matHeaderCellDef> Br. časova aud </th>
          <td mat-cell *matCellDef="let element"> {{element.brojCasovaAud}} </td>
        </ng-container>

        <ng-container matColumnDef="brojCasovaLab">
          <th mat-header-cell *matHeaderCellDef> Br. časova lab </th>
          <td mat-cell *matCellDef="let element"> {{element.brojCasovaLab}} </td>
        </ng-container>

        <ng-container matColumnDef="brojCasovaRac">
          <th mat-header-cell *matHeaderCellDef> Br. časova rač </th>
          <td mat-cell *matCellDef="let element"> {{element.brojCasovaRac}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button (click)="openDialog();" mat-raised-button color="primary" style="float: right; width: 100px;">
              <mat-icon>add</mat-icon>
              Novi
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="footer">
      <mat-paginator #paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 15, 20, 25]" (page)="getAll($event.pageIndex, $event.pageSize)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>