<div>
    <div class="overlay" *ngIf="this.selectedSemester && submitted">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <mat-card class="form">
        <mat-grid-list cols="1" rowHeight="50px" class="form-content">
            <mat-grid-tile>
                <h1>Generisanje rasporeda</h1>
            </mat-grid-tile>
            <form>
                <mat-grid-tile style="font-size: larger">
                    Izaberite semestar za koji želite da pokrenete generisanje rasporeda:
                </mat-grid-tile>
                <mat-grid-tile rowspan="2">
                    <mat-form-field style="margin-top: 5%;">
                        <mat-label>Izaberite semestar</mat-label>
                        <mat-select [(ngModel)]="selectedSemester" name="selectedSemester">
                            <mat-option *ngFor="let option of options" [value]="option.id">{{option.semestar}}
                                {{option.godina}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="primary" (click)="submit()"
                        [disabled]="!selectedSemester">Pokreni</button>
                </mat-grid-tile>
            </form>
        </mat-grid-list>
    </mat-card>
    <div class="semesters">
        <mat-card class="warning">
            Predviđeno vreme trajanja generisanja je 3 dana...
        </mat-card>
        <div *ngFor="let semestar of semesters">
            <mat-card *ngIf="semestar.status != 'STOPPED' && semestar.status != 'NOT_STARTED'" class="semester-card">
                <span class="semester"><b>{{ semestar.semestar }} {{ semestar.godina }}</b></span>
                <span style="margin-top: 2%; width: 22%;">
                    <div style="text-align: center;">Generisanje započeto:</div>
                    <div *ngIf="semestar.generationStarted" class="date"><b>{{ semestar.generationStarted | date:
                            'dd.MM.yyyy HH:mm' }}</b></div>
                    <div *ngIf="!semestar.generationStarted" class="date"><b>-</b></div>
                </span>
                <span style="margin-top: 2%; width: 22%;">
                    <div style="text-align: center;">Generisanje završeno:</div>
                    <div *ngIf="semestar.generationFinished" class="date"><b>{{ semestar.generationFinished | date:
                            'dd.MM.yyyy HH:mm' }}</b></div>
                    <div *ngIf="!semestar.generationFinished" class="date"><b>-</b></div>
                </span>

                <!-- GENERISANJE U ZAVRSENO -->
                <div *ngIf="semestar.status == 'FINISHED'"
                    style="display: flex; justify-content: space-around; margin-top: 2%; width: 20%;">
                    <div style="display: flex; flex-direction: column;">
                        <div style="text-align: center;">
                            <mat-icon style="color: green;">
                                done_outline
                            </mat-icon>
                        </div>
                        <div style="text-align: center;">
                            Generisanje završeno
                        </div>
                    </div>
                </div>
                <div *ngIf="semestar.status == 'FINISHED'"
                    style="display: flex; justify-content: space-around; margin-top: 2%; width: 15%;">
                    <div style="display: flex; flex-direction: column;">
                        <div style="text-align: center; cursor: pointer" (click)="send(semestar.id)">
                            <mat-icon class="send">
                                send
                            </mat-icon>
                        </div>
                        <div style="text-align: center;">
                            Pošalji na mejl
                        </div>
                    </div>
                </div>


                <!-- GENERISANJE U TOKU... -->
                <div *ngIf="semestar.status == 'STARTED' || semestar.status == 'OPTIMIZING'"
                    style="display: flex; justify-content: space-around; margin-top: 2%; width: 20%;">
                    <div style="display: flex; flex-direction: column;">
                        <div style="text-align: center;">
                            <mat-icon style="color: steelblue;">
                                update
                            </mat-icon>
                        </div>
                        <div style="text-align: center;">
                            Generisanje u toku...
                        </div>
                    </div>
                </div>
                <div *ngIf="semestar.status == 'STARTED'|| semestar.status == 'OPTIMIZING'"
                    style="display: flex; flex-direction: column; margin-top: 2%; width: 15%;">
                    <div style="text-align: center; cursor: pointer;" (click)="stop()">
                        <mat-icon class="stop">
                            stop
                        </mat-icon>
                    </div>
                    <div style="text-align: center;">
                        Zaustavi
                    </div>
                </div>

                <!-- GENERISANJE NEUSPESNO... -->
                <div *ngIf="semestar.status == 'FAILED'"
                    style="display: flex; justify-content: space-around; margin-top: 2%; width: 20%;">
                    <div style="display: flex; flex-direction: column;">
                        <div style="text-align: center;">
                            <mat-icon style="color: red;">
                                cancel
                            </mat-icon>
                        </div>
                        <div style="text-align: center;">
                            Generisanje nije uspelo...
                        </div>
                    </div>
                </div>
                <div *ngIf="semestar.status == 'FAILED'"
                    style="display: flex; flex-direction: column; margin-top: 2%; width: 15%;">
                    <div style="text-align: center; cursor: pointer;" (click)="refresh(semestar.id)">
                        <mat-icon class="refresh">
                            refresh
                        </mat-icon>
                    </div>
                    <div style="text-align: center;">
                        Pokreni ponovo
                    </div>
                </div>
            </mat-card>
        </div>
    </div>


</div>