<div>
    <div class="overlay" *ngIf="this.selectedSemester && submitted">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <mat-card class="form">
        <mat-grid-list cols="1" rowHeight="50px" class="form-content">
            <mat-grid-tile>
                <h1>Generisanje rasporeda</h1>
            </mat-grid-tile>
            <form>
                <mat-grid-tile style="font-size: larger">
                    Izaberite semestar za koji želite da pokrenete generisanje rasporeda:
                </mat-grid-tile>
                <mat-grid-tile rowspan="2">
                    <mat-form-field style="margin-top: 5%;">
                        <mat-label>Izaberite semestar</mat-label>
                        <mat-select [(ngModel)]="selectedSemester" name="selectedSemester">
                            <mat-option *ngFor="let option of options" [value]="option.id">{{option.semestar}} {{option.godina}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!selectedSemester">Pokreni</button>
                </mat-grid-tile>
            </form>
        </mat-grid-list>
    </mat-card>
    <div class="semesters">
        <mat-card class="warning">
            Predviđeno vreme trajanja generisanja je 3 dana...
        </mat-card>
        <div *ngFor="let semestar of semesters">
            <mat-card *ngIf="semestar.generationStarted" class="semester-card">
                <span class="semester"><b>{{ semestar.semestar }} {{ semestar.godina }}</b></span>
                <span class="date-card">
                    <div>Generisanje započeto:</div>
                    <div *ngIf="semestar.generationStarted" class="date"><b>{{ semestar.generationStarted | date:
                            'dd.MM.yyyy HH:mm' }}</b></div>
                    <div *ngIf="!semestar.generationStarted" class="date"><b>-</b></div>
                </span>
                <span class="date-card">
                    <div>Generisanje završeno:</div>
                    <div *ngIf="semestar.generationFinished" class="date"><b>{{ semestar.generationFinished | date:
                            'dd.MM.yyyy HH:mm' }}</b></div>
                    <div *ngIf="!semestar.generationFinished" class="date"><b>-</b></div>
                </span>
                <a *ngIf="semestar.generationStarted && semestar.generationFinished" mat-icon-button
                    class="action" (click)="download(semestar.path)">
                    <mat-icon>
                        download
                    </mat-icon>
                </a>
                <mat-icon *ngIf="semestar.generationStarted && !semestar.generationFinished"
                    style="margin-left: 8%; margin-top: 2%;">
                    update
                </mat-icon>
                <mat-icon *ngIf="!semestar.generationStarted && !semestar.generationFinished"
                    style="margin-left: 8%; margin-top: 2%;">
                    blank
                </mat-icon>
            </mat-card>
        </div>
    </div>


</div>