.table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.td .th {
    width: 25%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
    font-weight: 400;
}

.header {
    width: 100%;
}

.table-container {
    position: relative;
    max-height: calc(100vh - 110px);
    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

td {
    border-bottom: 0.5px solid lightgrey !important;
    // border-right: 0.5px solid lightgrey !important;
}