<div>
  <div class="header">
    <mat-form-field class="oznaka">
      <mat-label>Pretražite po oznaci</mat-label>
      <input [(ngModel)]="oznaka" matInput
        (keyup)="oznaka || godina != 'SVE' || brojStudenata || studijskiProgram ? applyFilter(0, pageSize) : getAll(0, pageSize)">
    </mat-form-field>
    <mat-form-field class="godina">
      <mat-select [(value)]="godina" value="SVE" class="font-bold"
        (selectionChange)="oznaka || godina != 'SVE' || brojStudenata || studijskiProgram ? applyFilter(0, pageSize) : getAll(0, pageSize)">
        <mat-option value="SVE">Sve godine</mat-option>
        <mat-option value="1">1 godina</mat-option>
        <mat-option value="2">2 godina</mat-option>
        <mat-option value="3">3 godina</mat-option>
        <mat-option value="4">4 godina</mat-option>
        <mat-option value="5">5 godina</mat-option>
        <mat-option value="6">6 godina</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="br-stud">
      <mat-label>Pretražite po broju studenata</mat-label>
      <input (input)="onInputChange($event)" matInput type="number"
        (keyup)="oznaka || godina != 'SVE' || brojStudenata || studijskiProgram ? applyFilter(0, pageSize) : getAll(0, pageSize)">
    </mat-form-field>
    <mat-form-field class="stud-prog">
      <mat-label>Pretražite po nazivu studijskog programa</mat-label>
      <input [(ngModel)]="studijskiProgram" matInput
        (keyup)="oznaka || godina != 'SVE' || brojStudenata || studijskiProgram ? applyFilter(0, pageSize) : getAll(0, pageSize)">
    </mat-form-field>
  </div>

  <div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="oznaka">
          <th mat-header-cell *matHeaderCellDef> Oznaka </th>
          <td mat-cell *matCellDef="let element"> {{element.oznaka}} </td>
        </ng-container>

        <ng-container matColumnDef="godina">
          <th mat-header-cell *matHeaderCellDef> Godina </th>
          <td mat-cell *matCellDef="let element"> {{element.godina}} </td>
        </ng-container>

        <ng-container matColumnDef="brojStudenata">
          <th mat-header-cell *matHeaderCellDef> Broj studenata </th>
          <td mat-cell *matCellDef="let element"> {{element.brojStudenata}} </td>
        </ng-container>

        <ng-container matColumnDef="studijskiProgram">
          <th mat-header-cell *matHeaderCellDef> Studijski program </th>
          <td mat-cell *matCellDef="let element"> {{element.studijskiProgram}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <button (click)="openDialog();" mat-raised-button color="primary" style="float: right; width: 100px;">
              <mat-icon>add</mat-icon>
              Nova
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="footer">
      <mat-paginator #paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 15, 20, 25]" (page)="oznaka || godina != 'SVE' || brojStudenata || studijskiProgram ? applyFilter($event.pageIndex, $event.pageSize) : getAll($event.pageIndex, $event.pageSize)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>