<div>
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        <form class="example-form" [formGroup]="predmetForm">
            <mat-form-field class="example-full-width">
                <mat-label>Oznaka</mat-label>
                <input formControlName="oznaka" matInput placeholder="Unesite oznaku predmeta...">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Plan</mat-label>
                <input formControlName="plan" matInput placeholder="Unesite plan..." type="number">
                <mat-error *ngIf="predmetForm.get('plan')?.hasError('min')">
                    Plan mora biti veći od 0
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Naziv</mat-label>
                <input formControlName="naziv" matInput placeholder="Unesite naziv predmeta...">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Godina</mat-label>
                <input formControlName="godina" matInput placeholder="Unesite godinu na kojoj se sluša..." type="number"
                    min="1">
                <mat-error *ngIf="predmetForm.get('godina')?.hasError('min') || predmetForm.get('godina')?.hasError('max')">
                    Godina mora biti broj od 1 do 6
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Šifra struke</mat-label>
                <input formControlName="sifraStruke" matInput placeholder="Unesite šifru struke...">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Studijski program</mat-label>
                <input type="text" placeholder="Izaberite studijski program..." matInput
                    formControlName="studijskiProgram" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="predmetForm.get('studijskiProgram')?.hasError('invalidOption')">
                    Morate izabrati studijski program
                </mat-error>
                <mat-button mat-icon-button matSuffix (click)="predmetForm.controls['studijskiProgram'].setValue('')" style="cursor: pointer;">
                    <mat-icon>close</mat-icon>
                </mat-button>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Broj časova predavanja</mat-label>
                <input formControlName="brojCasovaPred" matInput placeholder="Unesite broj časova predavanja..."
                    type="number">
                <mat-error *ngIf="predmetForm.get('brojCasovaPred')?.hasError('min')">
                    Broj časova predavanja ne sme biti manji od 0
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Broj časova auditornih vežbi</mat-label>
                <input formControlName="brojCasovaAud" matInput placeholder="Unesite broj časova auditornih vežbi..."
                    type="number" min="0">
                <mat-error *ngIf="predmetForm.get('brojCasovaAud')?.hasError('min')">
                    Broj časova auditornih vežbi ne sme biti manji od 0
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Broj časova laboratorijskih vežbi</mat-label>
                <input formControlName="brojCasovaLab" matInput
                    placeholder="Unesite broj časova laboratorijskih vežbi..." type="number" min="0">
                <mat-error *ngIf="predmetForm.get('brojCasovaLab')?.hasError('min')">
                    Broj časova laboratorijskih vežbi ne sme biti manji od 0
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Broj časova računarskih vežbi</mat-label>
                <input formControlName="brojCasovaRac" matInput placeholder="Unesite broj časova računarskih vežbi..."
                    type="number" min="0">
                <mat-error *ngIf="predmetForm.get('brojCasovaRac')?.hasError('min')">
                    Broj časova računarskih vežbi ne sme biti manji od 0
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Zatvori</button>
        <button mat-raised-button color="primary" (click)="add()" [disabled]="!predmetForm.valid">{{actionBtn}}</button>
    </div>
</div>