<div>
    <div class="header">
        <mat-form-field class="oznaka">
            <mat-label>Pretražite po oznaci</mat-label>
            <input matInput [(ngModel)]="oznaka"
                (keyup)="oznaka || tip != 'SVE' || sekundarniTip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter(0, pageSize) : getAll(0, pageSize)">
        </mat-form-field>
        <mat-form-field class="tip">
            <mat-label>Primarni tip</mat-label>
            <mat-select [(value)]="tip" value="SVE" class="font-bold"
                (selectionChange)="oznaka || tip != 'SVE' || sekundarniTip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter(0, pageSize) : getAll(0, pageSize)">
                <mat-option value="SVE">Sve</mat-option>
                <mat-option value="AUD">Auditorne</mat-option>
                <mat-option value="RAC">Računarske</mat-option>
                <mat-option value="LAB">Laboratorijske</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tip">
            <mat-label>Sekundarni tip</mat-label>
            <mat-select [(value)]="sekundarniTip" value="SVE" class="font-bold"
                (selectionChange)="oznaka || tip != 'SVE' || sekundarniTip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter(0, pageSize) : getAll(0, pageSize)">
                <mat-option value="SVE">Sve</mat-option>
                <mat-option value="AUD">Auditorne</mat-option>
                <mat-option value="RAC">Računarske</mat-option>
                <mat-option value="LAB">Laboratorijske</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="kapacitet">
            <mat-label>Pretražite po kapacitetu</mat-label>
            <input (input)="onInputChange($event)" matInput type="number"
                (keyup)="oznaka || tip != 'SVE' || sekundarniTip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter(0, pageSize) : getAll(0, pageSize)">
        </mat-form-field>
        <mat-form-field class="org-jed">
            <mat-label>Pretražite po organizacionoj jedinici</mat-label>
            <input [(ngModel)]="orgJedinica" matInput
                (keyup)="oznaka || tip != 'SVE' || sekundarniTip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter(0, pageSize) : getAll(0, pageSize)">
        </mat-form-field>
    </div>

    <div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="oznaka">
                    <th mat-header-cell *matHeaderCellDef> Oznaka </th>
                    <td mat-cell *matCellDef="let element"> {{element.oznaka}} </td>
                </ng-container>

                <ng-container matColumnDef="primarniTip">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Primarni tip </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.tip}} </td>
                </ng-container>

                <ng-container matColumnDef="sekundarniTip">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sekundarni tip </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <div *ngIf="!element.sekundarniTip">-</div>
                        {{element.sekundarniTip}} 
                    </td>
                </ng-container>

                <ng-container matColumnDef="kapacitet">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Kapacitet </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.kapacitet}} </td>
                </ng-container>

                <ng-container matColumnDef="orgJedinica">
                    <th mat-header-cell *matHeaderCellDef> Organizacione jedinice </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="!element.orgJedinica || element.orgJedinica.length == 0" style="margin-left: 30%;">-</div>
                        <ng-container *ngFor="let item of element.orgJedinica">
                            <div>
                                <span>{{item.naziv}}</span>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sekundarnaOrgJedinica">
                    <th mat-header-cell *matHeaderCellDef> Sekundarne organizacione jedinice </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="!element.sekundarnaOrgJedinica || element.sekundarnaOrgJedinica.length == 0" style="margin-left: 30%;">-</div>
                        <ng-container *ngFor="let item of element.sekundarnaOrgJedinica">
                            <div>
                                <span>{{item.naziv}}</span>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="edit(element)" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <button (click)="openDialog();" mat-raised-button color="primary"
                            style="float: right; width: 100px;">
                            <mat-icon>add</mat-icon>
                            Nova
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="edit(element)" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openConfirmationDialog(element)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="footer">
            <mat-paginator #paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
                [pageSizeOptions]="[10, 15, 20, 25]" (page)="oznaka || tip != 'SVE' || kapacitetStr || orgJedinica ? applyFilter($event.pageIndex, $event.pageSize) : getAll($event.pageIndex, $event.pageSize)"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>