.table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.td .th {
    width: 25%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
}

.oznaka {
    width: 14%;
}

.tip {
    width: 13%;
}

.kapacitet {
    width: 16%;
}

.org-jed {
    width: 39%;
}

.table-container {
    margin-top: -15px; 
    margin-bottom: 56px;
    position: relative;
    max-height: calc(100vh - 125px);
    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

td {
    border-bottom: 0.5px solid lightgrey !important;
    // border-right: 0.5px solid lightgrey !important;
}