.form {
    width: 45%;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    // border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.example-full-width {
    width: 47.5%;
}

.semestar {
    width: 47.5%;
    margin-right: 5%;
}

.godina {
    width: 47.5%;
}