<div>
    <div class="overlay" *ngIf="semestarForm.valid && submitted">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <mat-card class="form">
        <mat-grid-list cols="1" rowHeight="70px" class="form-content">
            <mat-grid-tile>
                <h1>Novi semestar</h1>
            </mat-grid-tile>
            <form style="width: 90%;" [formGroup]="semestarForm">
                <mat-grid-tile>
                    <mat-form-field class="semestar">
                        <mat-label>Izaberite semestar</mat-label>
                        <mat-select formControlName="semestar">
                            <mat-option value="Zimski">Zimski</mat-option>
                            <mat-option value="Letnji">Letnji</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="godina">
                        <mat-label>Unesite školsku godinu</mat-label>
                        <input formControlName="godina" matInput placeholder="npr. 2022/23" type="text">
                        <mat-error *ngIf="semestarForm.get('godina')?.hasError('isSkolskaGodina')" style="margin-left: -2%">
                            Morate uneti u formatu 20xx/xx
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile style="font-size: larger">
                    Izaberite semestar iz kog će biti preuzeti predmeti, studijski programi, studentske grupe i
                    realizacija:
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <mat-label>Izaberite semestar</mat-label>
                        <mat-select formControlName="firstSemestar">
                            <mat-option *ngFor="let option of options" [value]="option.godina + option.semestar.substring(0, 1)">{{option.semestar}} {{option.godina}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile style="font-size: larger;">
                    Izaberite semestar iz kog će biti preuzeti predavači i prostorije:
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <mat-label>Izaberite semestar</mat-label>
                        <mat-select formControlName="secondSemestar">
                            <mat-option *ngFor="let option of options" [value]="option.godina + option.semestar.substring(0, 1)">{{option.semestar}} {{option.godina}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="primary" [disabled]="!semestarForm.valid" (click)="add()">Potvrdi</button>
                </mat-grid-tile>
            </form>
        </mat-grid-list>
    </mat-card>
</div>