.form {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 2%;
    // border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



.form-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.example-full-width {
    width: 100%;
}