@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.mat-mdc-form-field {
    font-size: 17px;
    width: 70%;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    // background-color: mat.get-color-from-palette($my-palette, 200);
    background-color: lightgray;
}

// tr.example-element-row:not(.example-expanded-row):active {
//     background-color: mat.get-color-from-palette($my-palette, 200);
// }

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}