<div>
    <h1 mat-dialog-title>{{title}}</h1>
    <div class="overlay" *ngIf="studijskiProgramForm.valid && submitted">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    
    <div mat-dialog-content>
        <form class="example-form" [formGroup]="studijskiProgramForm">
            <mat-form-field class="example-full-width">
                <mat-label>Oznaka</mat-label>
                <input formControlName="oznaka" matInput placeholder="Unesite oznaku studijskog programa...">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Stepen</mat-label>
                <mat-select formControlName="stepen" class="font-bold">
                    <mat-option value="">Izaberite stepen studija</mat-option>
                    <mat-option value="OSNOVNE AKADEMSKE STUDIJE">OSNOVNE AKADEMSKE STUDIJE</mat-option>
                    <mat-option value="OSNOVNE STRUKOVNE STUDIJE">OSNOVNE STRUKOVNE STUDIJE</mat-option>
                    <mat-option value="MASTER AKADEMSKE STUDIJE">MASTER AKADEMSKE STUDIJE</mat-option>
                    <mat-option value="MASTER STRUKOVNE STUDIJE">MASTER STRUKOVNE STUDIJE</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Naziv</mat-label>
                <input formControlName="naziv" matInput placeholder="Unesite naziv studijskog programa...">
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Zatvori</button>
        <button mat-raised-button color="primary" (click)="add()" [disabled]="!studijskiProgramForm.valid">{{actionBtn}}</button>
    </div>
</div>